<nav [style.position]="fixed?'fixed':'relative'" style="z-index: 10;">
  <div id="desktop-port">
    <div class="flex flex-row items-center">
      <a [routerLink]="isAuthenticated ? ['/projects'] : ['/']">
        <img src="assets/logo-01.png" alt="Newstalgia" id="logo">
      </a>
      <button class="flex flex-row justify-center items-center ms-[5vw] navbarButton" [matMenuTriggerFor]="menu">
        <p class="font-semibold">Resources</p>
        <mat-icon svgIcon="chevron-down" class="icon-background-400 ms-2"></mat-icon>
      </button>

      <a [routerLink]="['']" class="flex flex-row justify-center items-center ms-2 navbarButton" matTooltip="In progress 🚧">
        <p class="font-semibold text-background-600">Download</p>
      </a>

      <mat-menu #menu id="resourcesMenu" class="!bg-background-100 !px-2 !shadow border-[1px] border-background-400">
        <div class="!flex !flex-row ">
          <div class="!flex !flex-col me-6">
            <a class="menuButton" [routerLink]="['/about']">About us</a>
          </div>
        </div>
      </mat-menu>
    </div>
    <div class="flex flex-row items-center">
      <ng-container *ngFor="let item of buttons">
          <app-simple-button
          (click)="item.click"
          [url]="item.url"
          [customStyles]="item.customStyles"
          [icon]="item.icon"
          [routerLink]="item.routerLink"
          [elementType]="item.elementType"
          [text]="item.text"
          [theme]="item.theme">
        </app-simple-button>
      </ng-container>
    </div>
  </div>

  <div id="mobile-port">
    <mat-drawer-container [hasBackdrop]="'false'" style="overflow: visible;">
      <mat-drawer #drawer mode="over" position="end" id="drawer">
        <div class="flex flex-row justify-end w-full">
          <button (click)="drawer.toggle()" >
            <mat-icon svgIcon="close" style="width: 30px; height: 30px;"></mat-icon>
          </button>
        </div>
        <div class="flex flex-col items-center mt-2">
          <a class="menuButton border-[1px] border-primary-base-600 text-primary-base-600" [routerLink]="['/projects']">Get Started</a>
          <a class="menuButton underline" [routerLink]="['/about']">About us</a>
        </div>
      </mat-drawer>

      <div class="w-full h-full flex flex-row justify-between items-center">
        <a [routerLink]="isAuthenticated ? ['/projects'] : ['/']">
          <img src="assets/logo-01.png" alt="Newstalgia" id="logo">
        </a>
        <button class="flex items-center justify-center py-2" (click)="drawer.toggle()">
          <mat-icon svgIcon="menu" style="height: 30px; width: 30px;"></mat-icon>
        </button>
      </div>
    </mat-drawer-container>
  </div>
</nav>

